.task3__gallery {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
}
.task3__gallery__item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  margin-top: 60px;
  margin-bottom: 60px;
}
